.footer{
    background-color:$dark-blue;
    color:white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    &__aside{
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 900px) {
            width: 100%;
            padding: 4vh;
            flex-direction: column;
          }
        width: 85%;
        @include p-bottom4;
        @include p-top4;
        &__blocs{
            color: white;
            @media only screen and (max-width: 900px) {
            @include p-top2;
            }
        }
        &__menu{
            display: flex;
            gap: 0.9em;
            font-size: 1.5em;
            padding: 0;
            margin: 0;
            @media only screen and (max-width: 1200px) {
            display: none;            
            }
        }
        &__img{
            padding-right: 1rem;
            width: 3.5rem;
            display: inline;
            @include p-top1;
        }
        &__legal-info{
            font-size: 0.9em;
            @include p-top2;
        }
        &__contact-info{
            color: $main-green;
        }
    }
}
