aside{
    width: 100%;
    display:flex;
    justify-content: space-around;
}

.footer{
    @include p-top6;
    @include p-bottom6;
    height: auto;
    background-color:$dark-blue;
    color:white;
    font-weight: bold;
    
    &__menu{
        display: flex;
        gap: 0.9em;
        font-size: 1.5em;
        padding: 0;
        margin: 0;
    }
    &__legal-info{
        font-size: 0.9em;
        @include p-top1;
    }
    &__contact-info{
        color: $main-green;
    }
}
