nav{
    color: rgb(238, 238, 238);
}

.header-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-mobile{
    display: none;
    text-align: end;
    position: relative;
    top:25vh;
    &__ul{
        font-size: 3em;
    }
    &__info{
        font-size: 1.8em;
    }
}

/*********************/
/**Mobile Items open**/
/*********************/
.shown{
    display:block;
    -webkit-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/*******************/  
/**Nav full-screen**/
/*******************/  
.nav-open{
    height: 96vh;
}

.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin: 0;
    padding: 0;
}
.menu-btn__burger{
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before{
    transform: translateY(-16px);
}
.menu-btn__burger::after{
    transform: translateY(16px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger{
    transform: translateX(-50px);
    background: transparent;
}
.menu-btn.open .menu-btn__burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

