#body-ag{
    height: 100vh;
    background-color:$dark-blue-ag;
    display: flex;    
    justify-content: center;
}

#main-ag{
  background-color: $dark-grayish-blue;
  width: 90vw;
  height: fit-content;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  top: 20vh;
  padding: 2em;
  border-radius: 10px;
  @include desktop-only{
    max-width: 50vw;
  }
}
#main-ag > *{
  padding-bottom: 1.5em;
}


#advice-id{
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  color: $neon-green;
}

#advice{
  font-family: 'Manrope', sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  color: white ;
  text-align: center;
}

#dice-container{
  border-radius: 50%;
  padding: 1em;
  background-color: $neon-green;
  position: absolute;
  bottom: 0;
  transform :translate(0, 50%);
}