#body-homepage{
    padding: 0;
}
#main-homepage{
    padding: 4vh 10vw 0 10vw;
}

/************ INTRO SECTION *************/

#h1{
    text-align: left;
    color: $white;
    font-size: 1.2em;
    line-height: 1.2;
}

/************ END OF INTRO SECTION *************/




/************ FIRST SECTION *************/

.first-section{
    margin-top: 5vh;
      &__txt{
          font-size: 1.4em;
      }
  }
  .my-picture{
    display: none;
    max-width: 40vw;  
  }
  .tools-title{
      @include p-top4;
      text-align: center;
      font-size: 1.5em;
  }
  .tools-container{
      @include p-top2;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      >figure{
        width: 10vh;
        padding: 1em .7em 1em .7em;
        display: inline-block;
          >figcaption{
            text-align: center;
            @include p-top1;
          }
      }
  }
  
  /************ END OF FIRST SECTION *************/
  
  
  
  
  
  /************ SECOND SECTION *************/
  
  .second-section{
    @include p-top7;
    > article{
      @include p-top3;
      > h3{
        padding-bottom: 1em;
      }
    }
  }
  .projects-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
  .work-info-container{
    @include p-top3;
    display: flex;
    justify-content: space-evenly;
    > figure {
      width: 5vw;
    }
  }
  
  
  /************ END OF SECOND SECTION *************/
  
  
  
  
  
  
  /************ THIRD SECTION *************/
  
  .third-section{
    @include p-top7;
    &__p{
      @include p-top4;
      text-align: center;
      font-size: 1.5em;
    }
    &__button-container{
      @include p-top3;
      display: flex;
      justify-content: center;
    }
    &__button{
      border: none;
      padding: 1em;
      color: $font;
    }
  }
  /************ END OF THIRD SECTION *************/