.project{
    &__h1{
        @include p-top6;
    }
    &__p{
        @include p-top1;
    }
    &__desc{
        display: flex;
        justify-content:space-between;
        @media only screen and (max-width: 900px) {
            flex-direction: column;
        }
    }
    &__col-container{
        @include p-top2;
        width: 30vw;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 5px;
        grid-template-areas: 
          "header header"
          "stack link"
          "stack code"; 
        @media only screen and (max-width: 900px) {
            grid-template-columns: 1fr; 
            gap: 0px 6em;
        }
      }
    &__col--header { grid-area: header; }
    &__col--stack { grid-area: stack; }
    &__col--code { grid-area: code; }
    &__col--link { grid-area: link; } 
    &__pic{
        @include p-top4;
        @include p-bottom2;
        @media only screen and (min-width: 900px) {
            display: none;
        }
    }
    &__video{      
        max-width: 50%;
        @include p-top4;
        @include p-bottom2;
        @media only screen and (max-width: 900px) {
            display: none;
        }
    }
    &__h2{
        @include p-top2;
    }
    &__col > a{
        font-weight: bold;
    }
}