#main-container{
    @include p-bottom8;
    >h1{
        @include p-bottom2;
    }
}
.works-container{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 0% 5%;     
    @media only screen and (max-width: 1070px) {
        grid-template-columns: 1fr;
    }
    &__h2{
        @include p-top2;
    }
    &__article{
        @include p-top2;
        @include p-bottom2;
        width: fit-content;
    }
    &__picture{
        margin-top: 2vh;
    }
}

.container-tech{
    display: flex;
    @include p-top2;
}

.project-tech{
    padding-right: 2vh;
    font-weight: bold;
}