// Main colors
$main-background:rgb(255, 251, 247);
$menu-background:#666666;
$dark-blue:hsl(210,52.6%,14.9%);
$font:rgb(33.7%,33.7%,33.7%);
$main-green:hsl(160.6,58.6%,43.5%);
$white:#fff;


// Advice generator
$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue-ag: hsl(218, 23%, 16%);

// Data storage
$dark-blue : hsl(228, 56%, 26%);
