// Main colors
$main-background:hsl(26.3,16.7%,81.2%);
$menu-background:#666666;
$font:rgb(33.7%,33.7%,33.7%);
$links:;

// Advice generator
$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue-ag: hsl(218, 23%, 16%);

// Data storage
$dark-blue : hsl(228, 56%, 26%);
