/****************/
/**** RESET  ***/
/**************/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
ul {
    list-style-type: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
 min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a { text-decoration: none; }
a:visited {
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
  }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**************** End of Reset ***************/





/***************** GENERAL ******************/

body{
    background-color: $main-background;
    color: $font;
}
h1, h2, h3, .link{
  color:$main-green;
}
h1{
  text-align: center;
  @include p-top4;
}
#main-homepage{
  padding: 4vh 10vw 0 10vw;
}
/**************** END OF GENERAL ************/





/**************** INTRO ***************/

.section-intro{
    @include playfair500;
    font-size: 2.2em;
    line-height: 1.1;
    padding-top: 8vh;
    height: 100vh;
    background-color: $intro-background;
    width:100%;
}
#h1{
    @include p-top5;
}

/************** END OF INTRO ***********/





/************ FIRST SECTION *************/

.first-section{
    @include p-top7;
    &__txt{
        font-size: 1.4em;
    }
}
.my-picture{
  display: none;
  max-width: 40vw;  
}
.tools-title{
    @include p-top4;
    text-align: center;
    font-size: 1.5em;
}
.tools-container{
    @include p-top2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    >figure{
      width: 15vh;
      padding: 1em .7em 1em .7em;
      display: inline-block;
        >figcaption{
          text-align: center;
          @include p-top1;
        }
    }
}

/************ END OF FIRST SECTION *************/





/************ SECOND SECTION *************/

.second-section{
  @include p-top7;
  > article{
    @include p-top3;
    > h3{
      padding-bottom: 1em;
    }
  }
}

.work-info-container{
  @include p-top3;
  display: flex;
  justify-content: space-evenly;
  > img {
    width: 15vw;
  }
}


/************ END OF SECOND SECTION *************/






/************ THIRD SECTION *************/

.third-section{
  @include p-top7;
  &__p{
    @include p-top4;
    text-align: center;
    font-size: 1.5em;
  }
  &__button-container{
    @include p-top3;
    display: flex;
    justify-content: center;
  }
  &__button{
    border: none;
    padding: 1em;
    color: $font;
  }
}
/************ END OF THIRD SECTION *************/