@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff') format('woff'),
         url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Poppins', sans-serif;
}

