@charset "UTF-8";
/****************/
/**** RESET  ***/
/**************/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul {
  list-style-type: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Rubik', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**************** End of Reset ***************/
/***************** BODY ******************/
body {
  padding: 4vh 10vw 0 10vw;
  background-color: #cccccc;
  color: #333333;
}

/**************** END OF BODY ************/
/**************** INTRO ***************/
.section-intro {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 2.2em;
  line-height: 1.1;
  padding-top: 8vh;
}

.section-intro--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  padding-top: 5vh;
}

h1 {
  padding-top: 5vh;
}

.my-picture {
  max-width: 40vw;
}

/************** END OF INTRO ***********/
/************ FIRST SECTION *************/
.first-section {
  padding-top: 7vh;
}

.first-section__txt {
  font-size: 1.4em;
}

.tools-title {
  padding-top: 4vh;
  text-align: center;
  font-size: 1.5em;
}

.tools-container {
  padding-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tools-container > img {
  width: 10vh;
  padding: 1em .7em 1em .7em;
  display: inline-block;
}

/************ END OF FIRST SECTION *************/
/************ SECOND SECTION *************/
/************ END OF SECOND SECTION *************/
@font-face {
  font-family: 'poppinsregular';
  src: url("../fonts/poppins-regular-webfont.woff") format("woff"), url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay-SemiBold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-SemiBold.woff") format("woff"), url("../fonts/PlayfairDisplay-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

h1, h2, ul > li {
  font-family: 'Playfair Display', serif;
}

.section-number, p, a {
  font-family: 'Poppins', sans-serif;
}

nav {
  color: #333333;
}

.header-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-mobile {
  display: none;
  text-align: end;
  position: relative;
  top: 25vh;
}

.menu-mobile__ul {
  font-size: 3em;
}

.menu-mobile__info {
  font-size: 1.8em;
}

/*********************/
/**Mobile Items open**/
/*********************/
.shown {
  display: block;
  -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*******************/
/**Nav full-screen**/
/*******************/
.nav-open {
  height: 96vh;
}

.menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  margin: 0;
  padding: 0;
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background-color: #333333;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: #333333;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

/****** ANIMATION ******/
.menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.button {
  padding-top: 2vh;
  text-align: right;
}

.button__link {
  color: #333333;
  font-size: 1.3em;
  display: inline-block;
  position: relative;
  /*
        > span{
            Doit être souligné
        }
        */
}

.button__link:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333333;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.button__link:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

#body-ag {
  height: 100vh;
  background-color: #1d2c67;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-ag {
  background-color: #323a49;
  width: 90vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 20vh;
  padding: 2em;
  border-radius: 10px;
}

@media screen and (min-width: 1201px) {
  #main-ag {
    max-width: 50vw;
  }
}

#main-ag > * {
  padding-bottom: 1.5em;
}

#advice-id {
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  color: #52ffa8;
}

#advice {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  color: white;
  text-align: center;
}

#dice-container {
  border-radius: 50%;
  padding: 1em;
  background-color: #52ffa8;
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

/**** Body ****/
#body-ca {
  background-color: #f5f3f7;
  position: absolute;
}

/**** Phone ****/
.phone {
  position: relative;
  left: calc(135px / 2);
  width: 240px;
  background-color: white;
  border-radius: 2rem;
  padding: 10px;
  margin: 50px 0 0 0;
  -webkit-box-shadow: 13px 14px 40px 7px rgba(0, 0, 0, 0.32);
  box-shadow: 13px 14px 40px 7px rgba(0, 0, 0, 0.32);
}

/**** Phone Screen ****/
.phone__screen {
  position: relative;
}

/**** Phone Bubble ****/
.phone__bubble {
  width: 30vw;
  position: absolute;
  width: 50%;
  height: 2.5vh;
  background-color: white;
  left: 25%;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.header {
  background-image: -webkit-gradient(linear, right top, left top, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(to left, #e942ff, #8838ff);
  border-radius: 1.5rem 1.5rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 10px 10px;
}

.header__container > * {
  margin-left: 7px;
}

.header__avatar {
  border-radius: 50%;
  border: 2px solid white;
  width: 27px;
  height: 27px;
}

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__text h2 {
  font-size: 12px;
  opacity: 0.8;
  font-weight: 500;
}

.header__text p {
  font-size: 10px;
  opacity: 0.5;
}

.header__text-white {
  color: white;
}

.header__dots {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 10px;
}

.conversation {
  background-color: #f5f3f7;
  padding: 10px;
  position: relative;
  border-radius: 0 0 15px 15px;
}

.conversation__message {
  width: 70%;
  font-size: 9px;
  font-weight: 500;
  margin-bottom: 7px;
  padding: 7px;
}

.conversation__message--received {
  background-color: #eee6f4;
  color: #9241c8;
  border-radius: 10px 10px 10px 5px;
}

.conversation__message--sent {
  background-color: white;
  color: #6e5d7e;
  border-radius: 10px 10px 5px 10px;
}

.conversation__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 10px;
}

.conversation__picture-sent {
  display: inline-block;
  width: 40px;
  border-radius: 10px;
  margin-left: 5px;
}

.conversation__typing-box {
  width: 100%;
  background-color: white;
  border-radius: 50px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.conversation__typing-box--send-button {
  color: white;
  background-color: #15091d;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 18px;
}

.conversation__typing-box p {
  color: #cac9ca;
  margin-left: 20px;
  font-size: 10px;
}

.conversation__message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.conversation-cta {
  background-image: -webkit-gradient(linear, left top, right top, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(to right, #e942ff, #8838ff);
  padding: 5px;
  width: 80%;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.conversation-cta__label {
  font-size: 10px;
  opacity: 0.5;
  color: white;
  margin-left: 5px;
}

.conversation-cta__price {
  color: white;
  font-weight: 500;
}

.presentation-text {
  margin-top: 20px;
  text-align: center;
  padding: 30px;
  line-height: 1.5;
}

.presentation-text__title {
  color: #240e2e;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 40px;
}

.presentation-text__p {
  font-weight: 400;
  color: #9e9e9e;
  opacity: 0.8;
}

.bg {
  position: absolute;
  z-index: 0;
  width: 50vw;
  height: 80vh;
  border-radius: 100% 0% 100% 0% / 0% 0% 50% 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(to bottom, #e942ff, #8838ff);
}

.bg2 {
  display: none;
}

@media only screen and (min-width: 900px) {
  .bg {
    left: -40vh;
    width: 50vw;
    height: 90vh;
    border-radius: 0% 0% 100% 100% / 100% 100% 100% 100%;
  }
  .container-flex {
    top: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80vw;
    left: 10vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .phone {
    margin: 0;
    left: 0;
  }
  .presentation-text {
    width: 50%;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

#body-ds {
  position: absolute;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  background-image: url("../images/bg-mobile.png");
}

.container-ds {
  position: relative;
  width: calc(100vw - 10vw);
  top: 20vh;
  left: 5vw;
}

.header-ds, .usage {
  background-color: #1d2c67;
  border-radius: 0.625rem 1.625rem 0.625rem 0.625rem;
}

.usage {
  border-radius: 0.625rem;
}

.usage__box {
  background-color: white;
  width: 50vw;
  padding: 0.625rem;
  border-radius: 0.625rem;
  position: relative;
  bottom: 0;
  -webkit-transform: translate(40%, 50%);
          transform: translate(40%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d9d9d9;
}

.usage__box--grey-uppercase {
  text-transform: uppercase;
  color: grey;
  font-weight: 700;
}

.usage__box--mega-bold {
  font-weight: 700;
  font-size: 2.5rem;
  color: #0c122c;
  margin-right: 0.3rem;
}

#body-ir {
  background-color: #121417;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Overpass', sans-serif;
}

.main-container-ir {
  background-color: #252d37;
  position: absolute;
  width: 94vw;
  top: 15vh;
  padding: 30px;
  border-radius: 15px;
  max-width: 340px;
}

.main-container-ir__star-container {
  background-color: #303a46;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.main-container-ir__star-container__star {
  width: 15px;
  height: 15px;
}

.main-container-ir__h1, .main-container-ir .ty-state__h1 {
  color: white;
  margin-bottom: 15px;
  font-weight: 700;
}

.main-container-ir__p, .main-container-ir .ty-state__p {
  color: #959eac;
  margin-bottom: 15px;
}

.main-container-ir__grade-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.main-container-ir__button {
  background-color: #fb7413;
  border: none;
  width: 100%;
  height: 40px;
  color: white;
  text-transform: uppercase;
  border-radius: 25px;
}

.main-container-ir__button:hover {
  cursor: pointer;
}

.gradeContainer {
  background-color: #303a46;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #959eac;
  margin-bottom: 15px;
}

.gradeContainer:hover {
  color: white;
  background-color: #fb7413;
  cursor: pointer;
}

.active-ir {
  background-color: #fb7413;
  color: white;
}

.ty-state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.ty-state__img {
  margin-bottom: 25px;
}

.ty-state__selection {
  color: #fb7413;
  width: auto;
  background-color: #303a46;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 20px;
}

.ty-state__p {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */